@import "basics.css";
@import "forms.css";

body{
   background:#3986b5;
   margin:0px;
   padding:0px;
   text-align:center;
   font:normal 1em Verdana,'Trebuchet MS',Verdana,sans-serif;
   line-height:1.6em;
}

h1{
  text-align:center;
  color:#be1414;
  margin:0px auto 0px auto;
  padding-bottom:10px;
  width:930px;
  font-size:2.5em;
}

h1 a{
  color:#be1414;
  text-decoration:none;
}

h1 a:hover{
  color:rgb(214,22,22);
}

h2{
  margin:10px 0px 5px;
  font:normal 1.5em Georgia,'Times New Roman', serif;
  background:#fff;
}

h2 a{
  text-decoration:none;
  color:rgb(22,100,232);
}

h2 a:hover{
  text-decoration:underline;
}

h3{
  margin:10px 0px 0px 0px;
  padding:0px;
  font:bold 1.3em Georgia,'Times New Roman', serif;
}

img{
  border:none;
  margin:5px;
}

dfn,acronym{
  border-bottom: 1px dotted #666;
  cursor: help;
}

code{
  white-space:pre;
  font-family: monospace;
  display:block;
  border:1px dotted #000;
  font-size:1.1em;
  padding:5px;
  margin:2px;
  overflow:auto;
  width:100%;
}

a{
  color:#00f;
}

table{
  border:1px solid #000;
  border-collapse:collapse;
}

td{
  border:1px solid #000;
  padding:5px;
}

#inner{
  width:970px;
  margin:20px auto 0px;
  min-height:600px;
  padding:0px;
  padding-bottom:25px;
  position:relative;
  text-align:left;
}

* html #inner{
  height:600px;
}

#right{
  width:200px;
  overflow:hidden;
  position:absolute;
  top:109px;
  right:30px;
}

#head{
  width:970px;
  height:42px;
  margin:0px;
}

#text{
  padding:20px 250px 50px 40px;
  font-size:0.75em;
  color: #454545;
  overflow:hidden;
  text-align:justify;
}

.menu li{
  margin:0px;
  padding:0px;
  list-style-type:none;
  width:200px;
  font:normal 1em Verdana,sans-serif;
}

.menu li a{
  display:block;
  padding:3px 3px 3px 10px;
  text-decoration:none;
  color:#454545;
  font-size:0.9em;
}

.menu li a:hover{
  background:rgb(187,217,234);
  color:rgb(67,118,175);
}

.menu li.selected{
  position:relative;
  top:1px;
  background:#fff;
}

#right h2{
  color: #FFF;
  padding:2px;
  font:bold 1em serif;
  text-align:center;
  margin:0px;
  margin-top:20px;
  border: 1px solid #bbb;
  background: #315577;
}

.menu{
  padding:0px;
  margin:0px;
  border: 1px solid #bbb;
}

#feet{
  position:absolute;
  bottom:0px;
  left:0px;
  width:970px;
  text-align:center;
  font:normal 0.8em Verdana,sans-serif;
  color:#FFF;
  background:#3986b5;
  padding-top:45px;
  padding-bottom:5px;
}

#search div{
  text-align:center;
}

#search input{
  width:100px;
  margin-top:3px;
  margin-bottom:3px;
}

#popis{
 text-align:center;
 border-bottom:5px double rgb(41,97,132);
 margin-bottom:20px;
 font-size:0.85em;
 color:rgb(160,160,160);
 width:930px;
 margin: 0px 20px 20px 20px;

}

#podobne{
  border:1px dotted #AAA;
  padding:5px;
}

.important{
  font-weight:bold;
  color:rgb(170,36,46);
}

.center{
  text-align:center;
}

.right{
  float:right;
}

.koment_nadpis{
  margin-top:30px;
}

.tag code{
  display:inline;
  border:none;
}

span.search{
  background: rgb(255,255,51);
}

.picture{
  display: block;
  width: 300px;
  padding: 5px;
  border: 1px solid #bbb;
  color: #000;
  text-decoration: none;
  background: #ddd;
  margin:10px;
  float: right;
  clear: both;
}

.picture img{
  margin:0px;
}

.picture span{
  display: block;
  width: 300px;
  text-align:center;
}

#linkuj{
  clear: both;
}
