/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

* Filename: ie.css
* Version: 1.0.1 (2008-11-18) YYYY-MM-DD
* Website: http://norsphp.com/
* Author: Petr Sobotka
* Description: Layout's modification for Internet Explorer 6 and lower
*/

/* common
=============================================================================*/

.clearfix {
	display: inline-block;
}

#hr {
	font-size: 0;
	line-height: 0;
}

#breadcrumbs-bar {
	width: 60em;
}