/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

* Filename: layout.css
* Version: 1.0.1 (2008-11-11) YYYY-MM-DD
* Website: http://norsphp.com/
* Author: Petr Sobotka
* Description: Layout for Daniel Milde's new CMS project

== STRUCTURE: =================================================================
* Number of columns: 2
===============================================================================

== INDEX: =====================================================================
_common : Comon formatting presets
_text   : Headings and paragraph settings
_main   : Main boxes (main, content, sidebar...)
_header : Header box & logo
_bread  : Breadcrumbs & language switch
_menu   : Main menu placed in header
_footer : Footer box
_news   : News box @ homepage
_post   : Post
_photo  : Photos
===============================================================================

*/

/* _common
=============================================================================*/
body {
	font-family: Tahoma, Verdana,"Geneva CE",sans-serif;
	line-height: 120%;
	padding: 0;
	margin:0;
	background: #fff url("../images/background.gif") top repeat-x;
	text-align: center;
	color: #333;
}


a, a:link, a:visited {
	color: #1e739c;
}

hr {
	display: none;
}

.hidden {
	display: none;
}

a:hover {
	color: #c52d2d;
}

/* fix podtrhavani obrazkovych odkazu */
a img {
	border-style: none;
	vertical-align: bottom;
}

img.bordered {
	border: 1px solid #c0c0c0;
	margin-bottom: 0.4em;
}

a.popup {
	padding-right: 18px;
	background: url("../images/popup.gif") no-repeat 98% 60%;
}

/* univerzalni cistic */
.cleared {
	overflow: hidden;
	width: 100%;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* jeste univerzalnejsi cistic */
.clear {
	clear: both;
}

form, fieldset {
	padding: 0;
	margin: 0;
	/* border-style: none; */
}

/* boxovani */
.box {
	padding: 0.4em 1em;
	border-style: solid;
	border-width: 1px;
}

/* parametry standartniho zvyrazneneho boxu */
.standard-alert {
	border-color: #ffcc00;
	background: #ffff99;
}

h1.alert {
	border: 1px solid #ffcc00;
	background: #ffff99;
	padding: 0.4em ;
}

dfn, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

table {
	margin: 10px;
	border-collapse: collapse;
}

table td,
table th {
	padding: 5px;
	border: 1px solid #666;
}

table th {
	background: #ddd;
}

ul, ol {
	margin-left: 40px;
	margin-bottom: 0.5em;
}

ul {
	list-style-type: square;
}

li {
	margin-bottom: 5px;
}

/* _text
=============================================================================*/

h1 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0.7em 0;
}

h2 {
	font-size: 1.25em;
	font-weight: normal;
}

h3 {
	color: #7fae3f;
	font-size: 1em;
	margin-left: 0.5125em;
	margin-top: 1em;
	clear: left;
}

h4 {
	margin-left: 0.8525em;
	font-size: 0.9em;
	clear: left;
}

p {
	margin: 0 0 0.5em 0;
}

/* _main
=============================================================================*/

#main {
	background: #fff;
	margin: 0 auto;
	width: 56em;
	text-align: left;
	margin-top: 5.5em;
	padding: 2em 2em 1em 2em;
	position: relative;
 	/* border: 1px solid #f60; */
}

#content {
	float: left;
	width: 40em;
	/* border: 1px solid #f60; */

}


#sidebar {
	float: right;
	width: 12em;
 	border-left: 1px solid #bbb;
 	padding-left: 1em;
}

#content p,
#sidebar p,
ul, ol {
	font-size: 0.8125em;
}

/* _header
=============================================================================*/

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* height: 5em; */
	text-align: center;
	clear: both;
	border-bottom: 7px solid #cfe9fb;
	background: #fff;
}

#header-right {
	background: #c52d2d url("../images/red-corner-right.gif") no-repeat 100% 0;
	float: right;
	height: 6px;
	width: 6px;
}

#logobar {
	width: 59em;
	margin: 1em auto 0 auto;
	text-align: left;
	padding: 0 0 0 1em;
	background: #c52d2d url("../images/red-corner-left.gif") no-repeat 0 0;
}

#logo {
	padding-top: 0.6em;
	float: left;
	padding-left: 1em;
	color: #fff;
	text-decoration: none;
	font: bold 1.5em Tahoma, Verdana,"Geneva CE",sans-serif;
}

#logo:hover{
	color: #000;
}

#description {
	clear: right;
	float: right;
	padding: 1em 2em;
	display: block;
	height: 1.2em;
	color: #000;
	font: bold 1em Georgia, serif;
}

/* _menu
=============================================================================*/

#menu {
	/* float:right; */
	/*padding-right: 2em;*/
}

#menu h2 {
	margin: 10px 0 0 0;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0.5em 0 0 0;
}

#menu ul li {
	/*float: left;*/
}

#menu ul li a {
	display: block;
	/* color: #bbb; */
	padding: 0.3em 0.9em;
	text-decoration: none;
	font-family: Georgia;
	font-weight: bold;
	/* border: 1px solid #c52d2d; */
}

#menu ul li a:hover,
#menu ul li a.selected:hover  {
	padding-left: 0.3em;
	border-left: 0.6em solid #d87272;
}

#menu ul li a.selected {
	color: #333;
	border: 1px dotted #333;
}

#author {
	display: block;
	height: 116px;
	border: 1px solid #bbb;
	padding: 5px;
	color: #000;
	background: #eee;
	margin-bottom: 10px;
	margin-top: 10px;
}

#author p {
	text-align: center;
	margin-top: 25px;
	font-size: 0.7em;
}

#author img {
	float: right;
}

/* _footer
=============================================================================*/

#footer {
	width: 60em;
	margin: 0 auto;
	background: #e1f3ff /* #91B7D3 */;
	clear: both;
	text-align: left;
	padding-top: 0.3em;
}

#footer-main {
	/* background: url("../images/footer-left-corner.gif") no-repeat 0% 0%; */
	margin: 0 auto;
	text-align: center;
	padding: 0.5em;
	font-size: 0.75em;
}

#footer-side {
	/* background: url("../images/footer-right-corner.gif") no-repeat 100% 0%; */
	float: right;
	padding: 1em;
	text-align: right;
	font-size: 0.75em;
}

.lang img{
	vertical-align: middle;
	margin: 0 2px;
}

/* _post
=============================================================================*/

#post {
	margin-bottom: 1em;
	line-height: 130%;
}

#post p small {
	font-size: 0.8125em;
}

#post > small {
	font-size: 0.7em;
}

.post {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
}

.post h1 {
	margin-bottom: 5px;
}

.post h1 a {
	text-decoration: none;
	font-family: Georgia, serif;
}

.post p {
	margin-top: 10px;
}

.post small {
	font-size: 0.7em;
}

code {
	white-space: pre;
	font-family: monospace;
	display: block;
	border: 1px dotted #000;
	font-size: 1.1em;
	padding: 5px;
	line-height: 120%;
	margin: 10px 5px;
	overflow: auto;
	width: 100%;
}

#paging {
	margin-top: 0.5em;
}

#evaluation {
	clear: both;
}

#eval {
	background: #ddd;
	display: inline;
	padding: 5px 0px 5px 5px;
}

#eval a {
	background: #fff;
	margin-right: 5px;
	padding: 2px 3px;
	text-decoration: none;
}

#comments {
	clear: both;
}

.comment {
	margin-top: 1em;
	clear: left;
	border-top: 1px solid #bbb;
	border-bottom: 1px dotted #bbb;
	padding-bottom: 0.3em;
	background: #f9f9f9;
}

#content .comment p {
	font-size: 1em;
}

.comment .author {
	margin-right: 0.2em;
	float: left;
	padding-left: 0.4em;
}

.comment .author:after {
	content: " - ";
	display: inline;
	color: #666;
}

.comment .date {
	background: #eee;
}

.comment .gravatar {
	float: right;
}

.comment .date,
.comment .inspiration {
	font-size: 0.8125em;
	color: #666;
}

.comment .text {
	clear: left;
	margin-top: 0.5em;
	padding: 0.5em;
}

.comment .reply {
	padding-left: 0.5em;
}

.comment .reaction {
	padding-left: 6px;
	background: url('../images/reaction.gif') left center no-repeat;
}

.comment .inspiration a {
	padding-left: 6px;
	background: url('../images/inspiration.gif') left center no-repeat;
}

/* _comm
=============================================================================*/
.thumbnail {
	padding: 7px;
	border: 1px solid #ddd;
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;
}

.in-text-thumbnail {
	padding: 7px;
	border: 1px solid #ddd;
	float: right;
	clear: right;
	margin-right: 10px;
	margin-bottom: 15px;
}

.caption {
	font-size: 0.9em;
	padding-top: 0.2em ;
}

.caption a {
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	color: #8ab459;
	display: block;
	text-align: center;
}
